#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calendar-container {
    margin: 2rem 0px;
    width: 50rem;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#calendar-month-year {
    font-weight: bold
}

#calendar-dates td {
    position: relative;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

#calendar-dates td.colored:hover {
    cursor: pointer;
    opacity: 0.9;
    border: 2px solid black;
}

.calendar-day-number {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0.5rem;
    color: var(--custom-gray);
    font-size: 0.85rem;
}

.hour-td {
    width: 3rem;
    height: 3rem;
    padding: 0 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    white-space: nowrap;
}

.hour-info-td {
    width: 99%;
    padding: 0 1rem;
    font-weight: 600;
}

#month-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#month-list div {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 5px;
    transition: all 300ms;
}

#month-list div:hover:not(.active-month) {
    cursor: pointer;
    font-size: 1.2rem;
    width: 3.5rem;
    height: 3.5rem;
}

#month-list .active-month {
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem
}

h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.15rem;
    max-width: 60%;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    #calendar-container {
        flex-direction: row;
    }
    #month-list {
        flex-direction: column;
    }
    .hour-td {
        width: 5rem;
        height: 3rem;
    }
    #calendar-dates td {
        width: 5rem;
        height: 5rem;
        font-size: 1.1rem;
    }
}

#calendar-dates table {
    animation: fade-in 300ms;
}

#month-list div {
    animation: fade-in 300ms;
}

#aqi-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#aqi-list li {
    list-style-type: none;
    display: flex;
    margin-bottom: 5px;
}

#aqi-list .tile {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
}

#aqi-list .tile#green {
    background-color: #00e400;
}

#aqi-list .tile#yellow {
    background-color: #fffb00;
}

#aqi-list .tile#orange {
    background-color: #ffa200;
}

#aqi-list .tile#red {
    background-color: #ff3400;
}

#aqi-list .tile#purple {
    background-color: #9d0049;
}

#aqi-list .tile#brown {
    background-color: #7e0023;
}

#graph {
    margin-bottom: 2rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        /* transform: translateY(20px); */
    }
    100% {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

#hour-calendar {
    margin-bottom: 2rem;
}

/* #hour-calendar table {
    transform: rotate(90deg);
} */

#hour-calendar td {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: .8rem;
}

.rotate {
    -moz-transform: rotate(-90.0deg);
    -o-transform: rotate(-90.0deg);
    -webkit-transform: rotate(-90.0deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    transform: rotate(-90.0deg);
}

#hour-calendar .hour-calendar-label td, #hour-calendar .hour-calendar-label {
    font-size: 1rem;
    font-weight: bold;
}

#filters {
    display: flex;
    width: 100%;
    justify-content: center;
}

#filters .filter-div {
    width: 20%;
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
}