/* contact */

#contact label {
    color: var(--custom-green);
    font-weight: 600;
}

#contact h1 {
    margin: 1rem 0;
    color: black;
    font-weight: bold;
}

#contact #info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
}

#contact #info .title {
    color: var(--custom-green);
    font-weight: 600;
}

#contact #info p {
    font-size: 1rem;
    margin-bottom: 0;
}

#contact #contact-img-cont {
    display: flex;
    justify-content: center;
}

#contact #contact-img {
    width: 200rem;
    max-width: 120%;
}

@media (min-width: 600px) {
    #contact #contact-img-cont {
        justify-content: flex-end;
    }
}

@media (min-width: 1000px) {
    #contact #contact-img {
        max-width: 150%;
    }
}