#intro {
    margin: 2rem 0;
}

#intro .logo {
    max-width: 75%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

#intro p {
    text-align: center;
}

#intro #map-cont {
    position: relative;
}

#intro #map-cont #map-btn {
    position: absolute;
    left: 50%;
    bottom: 1.5rem;
    transform: translateX(-50%);
}

#intro #sec-row {
    margin-top: 1rem;
    text-align: center;
}

#intro #sec-row #img-cont {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#intro #sec-row a {
    display: block;
    margin-top: 2rem;
    text-decoration: none;
}

/* price */

#price-section h1 {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    font-weight: 600;
}

/* how */

#how-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-section .green-section {
    margin-bottom: 2rem;
}

#how-section .network {
    display: none;
    justify-content: center;
    align-items: center;
}

#how-section .col-cont {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    margin-bottom: 3rem;
}

#how-section .col-cont p {
    text-align: center;
    flex-grow: 1;
}

#how-section .col-cont img {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

#how-section .col-cont .main-btn {
    display: block;
    margin: auto;
    width: 90%;
}

#how-section .timeline {
    width: 100%;
    margin-bottom: 3rem;
}

#quote-section {
    margin-top: 1rem;
    width: 100%;
    background-image: url("../assets/landing/bg-clouds.jpg");
    background-image: linear-gradient(#00000090, #00000000), url("../assets/landing/bg-clouds.jpg");
    background-color: var(--custom-blue);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#quote-section #quote-carousel {
    min-height: 60rem;
}


#quote-section .title {
    color: white;
    text-align: center;
    padding: 2rem 0;
}


#quote-section .quote {
    min-height: 58rem;
    width: 90%;
    display: block;
    margin: auto;
    position: relative;
}

#quote-section .quote .quote-content {
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 2rem;
    border-radius: 0.5rem;
}

#quote-section .quote-author .author-img {
    margin-top: -5rem;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 4px solid white;

}

#quote-section .quote-author {
    margin-bottom: 2rem;
}

#quote-section .quote-author p {
    font-size: 1rem;
    margin-bottom: 0;
}

#quote-section .quote-author .author-pos {
    color: var(--custom-gray)
}

#quote-section .quote-content p {
    color: black;

}

#quote-section .quote-content i {
    margin-right: 1rem;
}


@media (min-width: 600px) {
    #intro {
        margin: 4rem 0;
    }

    #intro #map-cont img {
        width: 90%;
        margin: auto;
        display: block;
    }

    #intro #sec-row {
        margin-top: 5rem;
    }

    #intro #sec-row img {
        max-width: 120%;
        margin-right: auto;
    }

    #intro #sec-row a {
        margin-top: 3rem;
    }

    #how-section .network {
        display: flex;
    }

    #how-section .col-cont {
        width: 100%;
    }

    #how-section .col-cont img {
        width: 80%;
        margin-bottom: 2rem;
    }

    #how-section .col-cont .main-btn {
        width: 100%;
    }

    #quote-section .quote {
        width: 70%;
        min-height: 70vh;
    }

    #quote-section #quote-carousel {
        min-height: 75vh;
    }
}

@media (min-width: 1000px) {
    #intro #sec-row a {
        margin-top: 6rem;
    }
}