#intro {
    margin: 2rem 0;
}

#intro .logo {
    max-width: 75%;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
}

#intro h1 {
    text-transform: uppercase;
    color: rgb(80, 80, 80);
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

#intro p {
    color: rgb(60, 60, 60);
}

#intro #map-cont {
    position: relative;
}

#intro #map-cont #map-btn {
    position: absolute;
    left: 50%;
    bottom: 1.5rem;
    transform: translateX(-50%);
}

#intro #sec-row {
    margin-top: 1rem;
    text-align: center;
}

#intro #sec-row #img-cont {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#intro #sec-row a {
    display: block;
    margin-top: 2rem;
    text-decoration: none;
}

/* price */

#price-section h1 {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
    font-weight: 600;
}

/* how */

#how-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-section .green-section {
    margin-bottom: 2rem;
}

#how-section .network {
    display: none;
    justify-content: center;
    align-items: center;
}

#how-section .col-cont {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    margin-bottom: 3rem;
}

#how-section .col-cont p {
    text-align: center;
    flex-grow: 1;
}

#how-section .col-cont img {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

#how-section .col-cont .main-btn {
    display: block;
    margin: auto;
    width: 90%;
}

#how-section .timeline {
    width: 100%;
    margin-bottom: 3rem;
}

/* contact */

#contact label {
    color: var(--custom-green);
    font-weight: 600;
}

@media (min-width: 600px) {
    #intro {
        margin: 4rem 0;
    }
    #intro #map-cont img {
        width: 90%;
        margin: auto;
        display: block;
    }
    #intro #sec-row {
        margin-top: 5rem;
    }
    #intro #sec-row img {
        max-width: 120%;
        margin-right: auto;
    }
    #intro #sec-row a {
        margin-top: 3rem;
    }
    #how-section .network {
        display: flex;
    }
    #how-section .col-cont {
        width: 100%;
    }
    #how-section .col-cont img {
        width: 80%;
        margin-bottom: 2rem;
    }
    #how-section .col-cont .main-btn {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    #intro #sec-row a {
        margin-top: 6rem;
    }
}