<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/buy.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

    <title>Redspira</title>
</head>

<body>
    <!-- navbar -->
    <nav class="main-navbar navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img height="50" src="../assets/redspira_i_b.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./calendar.html">Portal Científico</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./buy.html">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./press.html">Prensa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="buy">
        <h1 class="title">Precios</h1>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 mb-4">
                    <div class="card">
                        <div class="content">
                            <h2>Monitor</h2>
                            <p class="price">$300.00 USD</p>
                            <p>Monitor de la calidad del aire de bajo costo</p>
                            <hr />
                            <p>Contaminantes medidos:</p>
                            <p>Partículas suspendidas PM2.5 y PM10</p>
                        </div>
                        <div>
                            <button class="btn main-btn">Pídalo ahora</button>
                        </div>
                    </div>
                </div>
                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-5 mb-4">
                    <div class="card">
                        <div class="content">
                            <h2>Sistema de Monitoreo</h2>
                            <p>Monitor de la calidad del aire de bajo costo</p>
                            <hr />
                            <p>Contaminantes medidos:</p>
                            <p>Partículas suspendidas PM2.5 y PM10, Ozono, Bióxido de Azufre, Monóxido de Carbono,
                                Amoniaco, Óxidos de Nitrógeno y Compuestos Orgánicos Volátiles.</p>
                            <hr />
                            <p>Estación meteorológica</p>
                            <p>Factores medidos:</p>
                            <p>Humedad, Temperatura y Presión.</p>
                            <hr />
                            <p>Portal Geoweb.</p>
                            <hr />
                            <p>Aplicaciones móviles para la ciudadanía.</p>
                            <hr />
                            <p>Personalización de Software.</p>
                            <hr />
                            <p>Soporte técnico.</p>
                        </div>
                        <div>
                            <button class="btn main-btn">Solicita tu cotización</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>