<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/calendar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />

    <title>Redspira</title>
</head>

<body>
    <!-- navbar -->
    <nav class="main-navbar navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img height="50" src="../assets/redspira_i_b.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./calendar.html">Portal Científico</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./buy.html">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./press.html">Prensa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="content">
        <h1>Portal Científico</h1>
        <p>En este calendario puedes visualizar de manera rápida el valor de AQI, este indice notifica la calidad del
            aire
            con respecto a cierto contaminante</p>
        <div id="filters">
            <div class="filter-div" id="city-div">
                <label for="city-list">Ciudades</label>
                <select class="filter-select" id="city-list" name="city"></select>
            </div>

            <div class="filter-div" id="area-div">
                <label for="area-list">Zona</label>
                <select class="area-select" id="area-list" name="area"></select>
            </div>

            <div class="filter-div" id="param-div">
                <label for="param-list">Contaminante</label>
                <select class="filter-select" id="param-list" name="param">
                    <option value="PM25">PM2.5</option>
                    <option value="PM10">PM10</option>
                    <!-- <option value="PM25">CO</option>
                    <option value="PM25">O3</option>
                    <option value="PM25">SO2</option> -->
                </select>
            </div>
        </div>

        <div id="calendar-container">
            <div id="month-list"></div>
            <div id="month-calendar">
                <div id="calendar-header">
                    <button id="back" onclick="changeMonth(-1)">Atras</button>
                    <span id="calendar-month-year"></span>
                    <button id="next" onclick="changeMonth(1)">Siguiente</button>
                </div>
                <div id="calendar-dates"></div>
            </div>
        </div>

        <div id="hour-calendar">

        </div>
        <p>El indice de la calidad del aire (AQI) es clasificado de acuerdo a los siguientes rangos: </p>
        <ul id="aqi-list">
            <li>
                <div class="tile" id="green"></div>Bueno (0-50)
            </li>
            <li>
                <div class="tile" id="yellow"></div>Moderado (51-100)
            </li>
            <li>
                <div class="tile" id="orange"></div>Insalubre para grupos sensibles (101-150)
            </li>
            <li>
                <div class="tile" id="red"></div>Insalubre (151-200)
            </li>
            <li>
                <div class="tile" id="purple"></div>Muy insalubre (201-300)
            </li>
            <li>
                <div class="tile" id="brown"></div>Peligroso (301-500)
            </li>
        </ul>
        <hr>

        <h1>Gráficas</h1>
        <p>Puedes comparar el comportamiento del AQI en diferentes años</p>
        <div id="graph" style="width:700px;height:500px;"></div>


        <!-- Modal -->
        <div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="calendar-single-date"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/js/select2.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript" src="../scripts/auxiliar.js"></script>
    <script type="text/javascript" src="../scripts/colors.js"></script>
    <script type="text/javascript" src="../scripts/queries.js"></script>
    <script type="text/javascript" src="../scripts/calendar.js"></script>
    <script type="text/javascript" src="../scripts/date-calendar.js"></script>
    <script type="text/javascript" src="../scripts/month-calendar.js"></script>
    <script type="text/javascript" src="../scripts/hour-calendar.js"></script>
    <script type="text/javascript" src="../scripts/graphs.js"></script>
    <script type="text/javascript" src="../scripts/filters.js"></script>
    <script type="text/javascript" src="../scripts/main.js"></script>
</body>

</html>