<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>Redspira</title>
</head>

<body>
    <div class="social-network">
        <a href="https://facebook.com">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkedin.com">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://whatsapp.com">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>

    <!-- navbar -->
    <nav class="main-navbar navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img height="50" src="../assets/redspira_i_b.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portal Científico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./monitor.html">Monitores</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Comunidad</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="contact">
        <div class="logo-cont">
            <img src="../assets/redspira.png" class="img-fluid">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="ml-4">
                        <p>Puedes contactar con el equipo de Redspira por medio de los siguiente enlaces</p>
                        <div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="form-name">Nombre:</label>
                            <input type="text" class="form-control" id="form-name" placeholder="Tu nombre aquí">
                        </div>
                        <div class="form-group">
                            <label for="form-email">Correo electrónico:</label>
                            <input type="email" class="form-control" id="form-email"
                                placeholder="correo@electronico.com">
                        </div>
                        <div class="form-group">
                            <label for="form-comment">Comentarios:</label>
                            <textarea class="form-control" id="form-comment" rows="3"
                                placeholder="Escribe tus comentarios aquí"></textarea>
                        </div>
                        <button type="submit" class="ml-left btn btn-primary">Enviar Comentarios</button>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>