<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

    <title>Redspira</title>
</head>

<body>
    <!-- navbar -->
    <nav class="main-navbar navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img height="50" src="../assets/redspira_i_b.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portal Científico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./buy.html">Comprar</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./press.html">Prensa</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-4 mb-4">
                    <h1 class="text-center">Contáctanos</p>
                </div>
                <div class="col-12 col-md-4">
                    <form>
                        <div class="form-group">
                            <label for="form-name">Nombre:</label>
                            <input type="text" class="form-control" id="form-name" placeholder="Tu nombre aquí">
                        </div>
                        <div class="form-group">
                            <label for="form-email">Correo electrónico:</label>
                            <input type="email" class="form-control" id="form-email"
                                placeholder="correo@electronico.com">
                        </div>
                        <div class="form-group">
                            <label for="form-comment">Comentarios:</label>
                            <textarea class="form-control" id="form-comment" rows="3"
                                placeholder="Escribe tus comentarios aquí"></textarea>
                        </div>
                        <button type="submit" class="btn main-btn">Enviar Comentarios</button>
                    </form>
                    <div id="info">
                        <div id="cellphone" class="mb-2">
                            <p class="title">Celular</p>
                            <p>+52 (686) 195 30 52</p>
                        </div>
                        <div id="email" class="mb-2">
                            <p class="title">Correo</p>
                            <p>jguevara@certuit.com</p>
                        </div>
                    </div>
                </div>
                <div id="contact-img-cont" class="col-12 col-md-8" style="overflow:hidden; max-height: 600px">
                    <img src="../assets/landing/fondo_contacto.gif" id="contact-img" />
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>